<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">

</head>

<body>
    <div class="container w-50">

    </div>
    <h1>Edit Link</h1>
    <form class="d-flex flex-column " action="/edit/<%=body.id%>" method="POST">
        <input class="mb-2" type="text" name="title" id="title" placeholder="Título" value="<%= body.title%>">
        <input class="mb-2" type="text" name="description" id="description" placeholder="Descrição"
            value="<%= body.description%>">
        <input class="mb-4" type="text" name="url" id="url" placeholder="URL" value="<%= body.url%>">
        <button class="btn-primary"> Salvar</button>
    </form>



    <%if (error) {%>
        <div class="alert alert-danger alert-dismissible fade show mt-4" role="alert">
            <strong>
                Error:
            </strong>
            <%=error.message%>

                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        <% } %>



</body>

</html>